@import url("reset.css");

* { 
	border: 2px solid white;
}

body {
	background-image: url(../images/galaxy2.jpg);
	background-size: cover;
	color: white;
}

#first{
	
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}
.container-fluid {
	text-align: center;
	font-size: 24px;
}


header {
	border-bottom: 2px solid #FCE804;
	text-align: center;
	width: 100%;
	height: 100px;
	margin-bottom: 25px;
}

h1, h2 {
	padding-top: 5px;
	padding-bottom: 5px;
	color: #FCE804;
}

h1{
	font-size: 60px;
	font-family: "SF Distant Galaxy AltOutline";
}

h2 {
	font-size: 25px;
	font-family: "SF Distant Galaxy AltOutline";
	font-style: italic;
}

p   {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  font-weight: bold;
 }

#gallows {
	width: 50%;
	align-content: center;
	height: 375px;
	display: inline-block;
	float: left;
	position: relative;
}

#status {
	display: block;
	align-content: center;
	height: 70%;
	position: absolute;
	border: 3px solid #FF8080;
	box-shadow: 0 0 2em #F4171D;
}

img {
	width: 100%;
	height: 100%;
}

#winsDiv, #livesDiv {
	display: inline-block;
	border: 3px solid #FE8484;
	box-shadow: 0 0 2em #F4171D;
	width: 45%;
	height: 20%;
	text-align: center;
	position: absolute;


}

#winsDiv {
	float: left;
	bottom: 0;
	
}

#livesDiv {
	float: right;
	right: 0;
	bottom: 0;
}

#guessBox {
	width: 40%;
	height: 375px;
	display: inline-block;
	float: right;
	position: relative;
}


#directionsDiv, #lastGuessDiv, #pastGuessDiv {
	width: 100%;
	text-align: center;
	height: 110px;
	position: absolute;
}

#directionsDiv {
	top: 0;
	border: 3px solid #CEF7B3;
	box-shadow: 0 0 2em #39FF14;
} 

#lastGuessDiv{
	top: 35%;
	border: 3px solid #E7A0F0;
	box-shadow: 0 0 2em #D37AFF;
}

#pastGuessDiv {
	bottom: 0;
	border: 3px solid #AEEEEE;
	box-shadow: 0 0 2em #05EEFA;

}


footer {
	background-image: url(../images/lightsaber3.png);
	background-size: 100% 100%;
	position: fixed;
	color: black;
	bottom: 0;
	width: 100%;
	clear: both;
	text-align: center;
	font-size: 45px;
	font-weight: bold;
	letter-spacing: 4px;
	padding: 35px 0 20px 0;
	font-family: "SF Distant Galaxy";

}