@import url("reset.css");

* { 
	border: 2px solid black;
	background-color: lightgrey;
}

#first{
	
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}
.container-fluid {
	text-align: center;
	font-size: 24px;
}


header {
	border: 2px solid black;
	text-align: center;
	width: 100%;
	height: 80px;
	margin-bottom: 25px;
}

h1, h2 {
	padding-top: 5px;
	padding-bottom: 5px;
}

h1{
	font-size: 26px;
}

h2 {
	font-size: 22px;
}

p   {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  font-weight: bold;
 }

#gallows {
	border: 2px solid black;
	width: 50%;
	align-content: center;
	height: 375px;
	display: inline-block;
	float: left;
	position: relative;
}

#status {
	display: block;
	align-content: center;
	height: 75%;
	position: absolute;
	border: 2px solid black;
}

img {
	width: 100%;
	height: 100%;
}

#winsDiv, #livesDiv {
	display: inline-block;
	border: 2px solid black;
	width: 45%;
	height: 20%;
	text-align: center;
	position: absolute;

}

#winsDiv {
	float: left;
	bottom: 0;
	
}

#livesDiv {
	float: right;
	right: 0;
	bottom: 0;
}

#guessBox {
	border: 2px solid black;
	width: 40%;
	height: 375px;
	display: inline-block;
	float: right;
	position: relative;
}


#directionsDiv, #lastGuessDiv, #pastGuessDiv {
	width: 100%;
	border: 2px solid black;
	text-align: center;
	height: 110px;
	position: absolute;
}

#directionsDiv {
	top: 0;
} 

#lastGuessDiv{
	top: 35%;
}

#pastGuessDiv {
	bottom: 0;
}


footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	clear: both;
	text-align: center;
	border: 2px solid black;
	font-size: 45px;
	font-weight: bold;
	letter-spacing: 4px;
	padding: 25px 0 25px 0;
}